body {
    font-family: sans-serif;
    margin: 20px;
}

img, video {
    display: block;
    max-width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

#slide-elements {
    display: grid;
    grid-area: 1/1;
}

/*Seleciona todos os chields do elemento ex: elemento (allChilds = *)  */
#slide-elements * {
    grid-area: 1/1;
    opacity: 0;
    visibility: none;
}

#slide-elements > .active {
    opacity: 1;
    visibility: visible;
}

#slide {
    margin: 0 auto;
    display: grid;
    max-width: 900px;
    height: 500px;
    padding: 20px;
    background-color: rgba(0,0,0, 0.1);
    border-radius: 10px;
}

#slide-controls {
    grid-area: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#slide-controls button {
    opacity: 0;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     
}